<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Body-Parser Demo</title>
        <link rel="stylesheet" 
        type="text/css" 
        href="/public/css/styles.css">
    </head>
    <body>
        <%- include('partials/header') %>
        <%- include('partials/navBar') %>
        <h1>Demo Form</h1>
        <form action="saveData" method="POST">
            <pre>
                Enter your Email : <input type="text"
                                          name="email"> <br>
                                    
                <input type="submit" value="Submit Form">
            </pre>
        </form>

        <%- include('partials/footer') %>
    </body>
    
</html>